name: cloud_googleads_hour

on:
  schedule:
    - cron: "0 11 * * *"   # 08:00 BRT (GitHub usa UTC)
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: google_ads/cloud_googleads_hour

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.SECRET_GOOGLE_SERVICE_ACCOUNT }}

      - name: Run Google Ads script
        env:
          SECRET_GOOGLE_ADS_CONFIG: ${{ secrets.SECRET_GOOGLE_ADS_CONFIG }}
        run: python main.py

