name: Test GitHub Actions Connection

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on: [self-hosted, linux, x64]
    defaults:
      run:
        working-directory: cloud_function_deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      - name: Configure GCP credentials
        run: echo "${{ secrets.SECRET_GOOGLE_SERVICE_ACCOUNT}}" > $HOME/gcp-key.json

      - name: Test Connection
        env:
          GOOGLE_APPLICATION_CREDENTIALS: $HOME/gcp-key.json
        run: python test_github_actions.py
